body {
  font: 14px courier;
}

.console-box {
  background-color: #333;
  padding: 10px;
  border-radius:5px;
  overflow:scroll;
  color: #fff;
  height: 560px;
  width:830px;
}

.command-box {
  margin-bottom: 5px;
}

.thing {
  padding-right: 5px;
}

.alert {
  display: none;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px 35px 10px 10px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info strong {
  text-decoration: underline;
}

.alert-warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.user-input {
  background-color:transparent;
  border: none;
  resize: none;
  width: 95%;
  color: #fff;
  font: 14px courier;
  outline: none;
}

.content>.title {
  position: absolute;
  left: -999em;
}
.steps {
  position: relative;
  display: block;
  width: 100%
  display: inline;
  float: left;
  width: 30%
}
.steps .number {
  font-size: 1.429em;
}
.steps>ul {
  list-style: none!important;
  padding: 0;
  margin: 0;
}
.steps>ul>li {
  float: none;
  width: 100%
  display: block;
  width: auto;
  margin: 0 .5em .5em;
  padding: 1em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.steps .disabled {
  background: #eee;
  color: #aaa;
  cursor: default;
}
.steps .current {
  background: #2184be;
  color: #fff;
  cursor: default;
}
.steps .done {
  background: #9dc8e2;
  color: #fff;
}
.content {
  background: #eee;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin: 0 2.5% .5em 2.5%;
  padding: 15px;
}
